#only include the original datasets, these can be produced locally
formatted_data/*.csv
continuous_data/*.csv
training_data/*.csv

# Jupyter Notebook
.ipynb_checkpoints

#ignore visual studio files
/.vs/cmpt-353-project/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
